:root {
    --green: #179d2e;
    --blue: #0177b8;
    --orange: #f5af23;
    --red:#f02e2c;
    --text: #181833;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}